<h1 class="text-5xl font-bold tracking-wide">Find My Rares</h1>
<p class="mt-5">Find me in app/views/home/index.html.erb</p>

<section>
    <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
</section>
